<configuration>

    <property name="LOGGING_PATTERN" value="%d{yyyy-MM-dd} [%thread] %highlight(%-5level) %logger{36} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                ${LOGGING_PATTERN}
            </pattern>
        </encoder>
    </appender>

    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>
            ./logs/flight-status-app.log
        </file>
        <encoder>
            <pattern>
                ${LOGGING_PATTERN}
            </pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                ./logs/archive/flight-status-app-%d{yyyy-MM-dd}-%i.log.zip
            </fileNamePattern>
            <maxFileSize>200KB</maxFileSize>
            <maxHistory>100</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ROLLING_FILE"/>
    </root>
</configuration>